/*
 *= require_self
 *= require posts.css
*/

body {
  padding: 0px;
  margin: 0px;
}

.header_wrapper {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: right;
  align-items: center;
  background-color: rgb(210, 245, 255);
}

.header_link {
  font-size: 20px;
  padding: 0px 100px;
}

.devise_form_wrapper {
  width: 50%;
  text-align: center;
  border: solid 4px navy;
  margin: 100px auto;
  padding: 2%;
}

.devise_form_wrapper h1 {
  display: inline-block;
  width: 50%;
  border-bottom: solid 2px navy;
}

.devise_form {
  width: 50%;
  margin: auto;
}

.devise_field {
  text-align: left;
}

.devise_field input[type="text"] {
  width: 100%;
  height: 25px;
  margin-bottom: 15px;
}

.devise_field input[type="email"] {
  width: 100%;
  height: 25px;
  margin-bottom: 15px;
}

.devise_field input[type="password"] {
  width: 100%;
  height: 25px;
  margin-bottom: 15px;
}

.devise_form_submit input[type="submit"] {
  width: 100%;
  height: 30px;
  margin: 10px 0px;
}
