/*
 *= require_self
 *= require posts.css
*/

body {
  padding: 0px;
  margin: 0px;
}

.header_wrapper {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: right;
  align-items: center;
  background-color: rgb(210, 245, 255);
}

.header_link {
  font-size: 20px;
  padding: 0px 100px;
}

.devise_form_wrapper {
  width: 50%;
  text-align: center;
  border: solid 4px navy;
  margin: 100px auto;
  padding: 2%;
}

.devise_form_wrapper h1 {
  display: inline-block;
  width: 50%;
  border-bottom: solid 2px navy;
}

.devise_form {
  width: 50%;
  margin: auto;
}

.devise_field {
  text-align: left;
}

.devise_field input[type="text"] {
  width: 100%;
  height: 25px;
  margin-bottom: 15px;
}

.devise_field input[type="email"] {
  width: 100%;
  height: 25px;
  margin-bottom: 15px;
}

.devise_field input[type="password"] {
  width: 100%;
  height: 25px;
  margin-bottom: 15px;
}

.devise_form_submit input[type="submit"] {
  width: 100%;
  height: 30px;
  margin: 10px 0px;
}

.message_wrapper {
  display: inline-block;
  width: 50%;
}

#messages {
  height: 200px;
  overflow-y: scroll;
  border: 1px solid black;
  margin: 20px 0;
}

.message_wrapper p {
  text-align: left;
  font-size: large;
  font-weight: bold;
}

.message_wrapper textarea {
  width: 100%;
  margin-bottom: 30px;
}

.current_user_message_wrapper {
  text-align: right;
  margin: 7px 7px 10px 0;
}

.current_user_message {
  display: inline-block;
  max-width: 50%;
  text-align: left;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgb(210, 245, 255);
  word-break: break-all;
  padding: 8px;
}

.current_user_message p {
  font-size: 15px;
  margin: 0;
}

.other_user_message_wrapper {
  text-align: left;
  margin: 7px 0 10px 7px;
}

.other_user_message {
  display: inline-block;
  max-width: 50%;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgb(189, 255, 192);
  word-break: break-all;
  padding: 8px;
}

.other_user_message p {
  font-size: 15px;
  margin: 0;
}

.message_created {
  display: block;
  font-size: 3px;
}
