.index_wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 100px;
}

.table_wrapper {
  width: 30%;
  margin: 20px;
}

.index_wrapper::after {
  display: block;
  content: "";
  width: 30%;
  margin: 20px;
}

.table_wrapper table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table {
  width: 50%;
  border-collapse: collapse;
  margin: auto;
  margin-bottom: 20px;
}

table img {
  width: 100%;
  object-fit: cover;
}

table th, table td {
  border: solid 1px black;
  text-align: left;
  padding: 3px;
}

table th {
  width: 10%;
}
.bottom_border_none {
  border-bottom: none;
}

.top_border_none {
  border-top: none;
}

.td_img {
  position: relative;
  padding: 0;
}

.main_wrapper {
  text-align: center;
  margin-bottom: 50px;
}

.title_span {
  display: block;
  width: 40%;
  font-size: 35px;
  border-bottom: solid 2px navy;
  margin: 15px auto 50px auto;
}

.user_name_span {
  display: block;
  text-align: right;
}

.search_text {
  width: 20%;
  height: 30px;
  margin-bottom: 20px;
}

.search_submit {
  width: 5%;
  height: 30px;
}

.form_wrapper {
  width: 50%;
  text-align: center;
  border: solid 4px navy;
  margin: 0px auto;
  padding: 2%;
}

.form {
  width: 50%;
  margin: auto;
}

.field {
  text-align: left;
  margin-bottom: 15px;
}

.field input[type="text"] {
  width: 100%;
  height: 25px;
}

.field input[type= "number" ] {
  width: 100%;
  height: 25px;
  text-align: center;
}

.field input[type="datetime-local"] {
  width: 100%;
  height: 25px;
  text-align: center;
}

.field textarea {
  width: 100%;
  height: 100px;
}

.form_submit input[type="submit"] {
  width: 100%;
  height: 30px;
  margin: 10px 0px;
  border-color: rgb(210, 245, 255);
  background-color: rgb(210, 245, 255);
}

.post_img_wrapper {
  position: relative;
  display: inline-block;
  width: 50%;
  height: 400px;
  margin-bottom: 10px;
}

.table_wrapper .post_img_wrapper {
  position: relative;
}

.post_img_wrapper img {
  width: 100%;
  height: auto;
}

.finished_mark {
  position: absolute;
  text-align: center;
  vertical-align:bottom;
  width: 20%;
  height: 50px;
  line-height: 50px;
  top: 0;
  left: 0;
  font-size: 20px;
  border-radius: 50%;
  color: white;
  background: red;
  padding:0 5px;
}

.td_img .finished_mark {
  font-size: small;
}

.edit_delete_wrapper {
  display: inline-block;
  width: 50%;
  text-align: right;
}

.description_wrapper {
  display: inline-block;
  width: 50%;
}

.description_wrapper p {
  text-align: left;
  font-size: large;
  font-weight: bold;
}

.description_field {
  text-align: left;
  height: 150px;
  border: 1px solid black;
}

.post_img {
  height: 60%;
  width: 60%;
  object-fit: cover;
}

#post_img_prev {
  height: 60%;
  width: 60%;
  object-fit: cover;
  border: 1px solid black;
}

.hidden {
  display: none;
}
